<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ion-button class="botton" shape="round">
        <ion-icon slot="icon-only" name="arrow-up-outline" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-button class="botton" shape="round">
        <ion-icon name="home" aria-hidden="true"></ion-icon>
          Inicio
      </ion-button>
      <ion-button class="botton" shape="round">
        <ion-icon name="albums" aria-hidden="true"></ion-icon>
          Series
      </ion-button>
      <p>© 2025 YokaiScan. Todos los derechos reservados.</p>
      <p>En Yokai Scan se aplican la política de privacidad y las condiciones del servicio de Google.</p>
      <ion-img class="nav-img" src="assets/img/logo.png" alt="Yokai Scan logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-footer>